[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
celery = "*"
djangorestframework-jwt = "*"
mysqlclient = "*"
librabbitmq = "*"

[requires]
python_version = "3.6"
