[[source]]
name = "pypi"
url = "https://mirrors.cloud.tencent.com/pypi/simple"
verify_ssl = true

[[source]]
url = "https://rquser:ricequant99@py.ricequant.com/simple"
name = "rqdata"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
v = {editable = true,version = "*"}

[packages]
djangorestframework = "*"
django-filter = "*"
celery = "*"
djangorestframework-jwt = "*"
mysqlclient = "*"
librabbitmq = "*"
ta-lib = "*"
pyqt5 = "<5.12"
dataclasses = "*"
qdarkstyle = "*"
requests = "*"
websocket-client = "*"
peewee = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
futu-api = "*"
tigeropen = "*"
ibapi = {file = "https://sphinx-1253762454.file.myqcloud.com/mirror/ibapi-9.75.1-py3-none-any.whl"}
Django = "*"
Markdown = "*"
vnpy = {file = "https://github.com/sphinx-quant/vnpy/archive/master.zip"}
supervisor = "*"
uwsgi = "*"
rqdatac = {version = "*",index = "rqdata"}
psycopg2-binary = "*"

[requires]
python_version = "3.6"
